body {
    background-color: #23272F;
    text-align: center;
    color: #E7DAE0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    margin: 20px 0;
}

a {
    color:rgb(187, 159, 118);
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    width: 50%;
    height: auto;
}

figure {
    text-align: center;
    font-style: italic;
}

ul {
    text-align: left;
    margin:  40px 180px;
}

li {
    padding: 10px;
}

.nested {
    margin: 0 0;
}

.contract {
    margin:  40px 180px;
    text-align: left;
}

